<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	   xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:aop="http://www.springframework.org/schema/aop"
	   xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd http://www.springframework.org/schema/aop https://www.springframework.org/schema/aop/spring-aop.xsd">
<aop:aspectj-autoproxy/>
	<bean name="myTestBean" class="com.ustc.learn.beans.MyTestBean" scope="prototype" init-method="init">
		<constructor-arg value="Construct args in xml"/>
	</bean>

	<bean id="car" class="com.ustc.learn.factories.CarFactoryBean">
		<property name="carInfo" value="超级跑车,400,2000000"/>
	</bean>

	<bean name="circularBeanA" class="com.ustc.learn.beans.CircularBeanA" autowire="byType"/>

	<bean name="circularBeanB" class="com.ustc.learn.beans.CircularBeanB">
		<property name="a" ref="circularBeanA"/>
	</bean>

	<bean name="testBean" class="com.ustc.learn.beans.TestBean"/>
	<bean class="com.ustc.learn.aspect.AspectJTest"/>

	<bean name="aService" class="com.ustc.learn.aspect.AServiceImpl1" scope="singleton"/>

</beans>